@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
*{
  margin: 0;padding: 0;box-sizing: border-box;
}
.app{
  min-height: 100vh;
  border: 8px double rgba(1, 255, 255, 0.689);
  margin: 0px;
  padding: 5px;
}
a{
  text-decoration: inherit;
  color:inherit;
  
}
*::-webkit-scrollbar{
    width: 8px;
    color: rgb(0, 0, 0);
}